body{
  margin: 100px;
}

.spacing-1{
  margin: 50px 0;
}


.todo-item{
  background: #d3d3d3;
  padding: 10px;
  border-bottom: 1px solid #333; 
}

.todo-input{  
  padding: 10px;
}

.todo-item__button{
  float: right;
}